header{
    display: flex;
    justify-content:flex-start;
    gap: 120px;
    margin-top: 50px;
    margin-bottom: 70px;
}
.title{
    color: #000;
    font-family: 'PT Serif', serif;
    font-size: 20px;
    margin-left: 60px;
}
.description-title{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}
.description-details{
    color: #000;
    font-family: 'poppins', sans-serif;
    font-size: 12px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 70px;
    column-gap: 10px;
    margin-left: 60px;
}
.box{
    position: relative;
    /* border: 1px solid red; */
    height: 250px;
    width: 180px;
}
.img{
    height: 200px;
    width: 150px;
}
.name{
    margin-top: 10px;
    color: #000;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
}
.position{
    transform: rotate(90deg);
    color: #000;
    font-family: 'PT Serif';
    font-size: 12px;
    position: absolute;
    top: -2px;
    right:-7px;
    width: max-content;
}
#box2, #box5{
    margin-top: 80px;
}
footer{
    color: #a9a9a9;
    text-align: center;
    margin-top: 90px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
@media screen and (max-width:576px){
    header{
        flex-direction: column;
        gap: 0;
        margin-left: 10px;
    }
    .title{
        margin-left: 0;
        margin-bottom: 5px;
        font-size: 15px;
    }
    .description-title{
        font-size: 12px;
    }
    .description-details{
        font-size: 10px;
        margin-bottom: 5px;
    }
    .container{
        margin-left: 13px;
        grid-template-columns: repeat(2, 1fr);
        column-gap: -20px;
        row-gap: 20px;
        
    }
    
    #box4, #box2, #box6{
        margin-top: 20px;
    }
    #box5{
        margin-top: 0;
    }
    .img{
        height: 90px;
        width: 70px;
    }
    .box{
        height: 130px;
        width: 80px;
    }
    .name{
        font-size: 5px;
    }
    .position{
        font-size: 5px;
        top: 1px;
    }
}

